* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #C1C1C1;
	overflow-x: hidden;
}

.eng {
	height: 400px;
	width: 100%;
	background: url(../images/bg_en.jpg);
	padding: 0px auto;
}

.eng h1 {
	margin-left: 0px;
	padding-top: 50px;
	font-family: Courier New, monospace;
	font-size: 50px;
	height: 30px;
	text-align: center;
}
.Fishman {
	height: 600px;
	width: 100%;
	background: #F7F7F7;
}

.Dracula {
	height: 600px;
	width: 100%;
	background: #EDEDED;
}

.Million {
	height: 600px;
	width: 100%;
	background: #F7F7F7;
}

.Forrest {
	height: 600px;
	width: 100%;
	background: #EDEDED;
}

.man {
	height: 600px;
	width: 100%;
	background: #F7F7F7;
}

div img {
	width: 300px;
	height: 500px;
	margin: 50px 0px 0px 100px;
	float: left;
}

div h2 {
	font-size: 50px;
	padding-top: 50px;
	padding-left: 500px;
	color: #272727;
}

.avtor {
	color: #F07E29;
	line-height: 70px;
	font-size: 25px;
	padding-left: 500px;
}

.avtor p {
	color: red;
}

.text {
	padding-left: 500px;
	font-size: 20px;
	line-height: 50px;
}

.FAQ {
	padding-left: 500px;
	font-size: 25px;
	font-family: monospace;
}

.Million h2 {
	padding-top: 20px;
}

nav {
	background: orange;
	height: 40px;
}

nav .nov1 {
	float: left;
	width: 50px;
	height: 33px;
	cursor: pointer;
}

nav .nov1 h5 {
	position: absolute;
	font-family: Times, Times New Roman, serif;
	font-size: 18px;
	height: 33px;
	color:black;
	width:150px;
	text-align: center;
	padding-top: 7px;
}

nav .nov1 h5:hover {
	background: #BE7C00;
}

#book, #pod, #video, #sovet, #slovar {
	float: left;
	height: 40px;
	font-family: Times, Times New Roman, serif;
	font-size: 20px;
	height: 30px;
	width:150px;
	text-align: center;
	padding-top: 10px;
	text-decoration: none;
	color:black;
}

#slovar:hover,#book:hover,#pod:hover,#video:hover,#sovet:hover {
	background: #BE7C00;
}
#slovar {
	margin-left: 100px;
}
/*=========конец меню=======*/

/*=========footer=======*/
.footer {
	width: 1350px;
	height: 120px;
	background: #EDEDED;
	font-family: Courier New, monospace;
	border-top: 1px solid grey;
	list-style-type:none;
	padding-top: 10px;
}

ul {
	list-style-type:none;
	text-align: justify;
	position: relative;
	font-size: 17px;
	line-height: 20px;
	font-family: serif;
}

.FAQ1 {
	position: absolute;
	margin-top:0px;
	margin-left: 30px;
}

.or {
	position: absolute;
	margin-top:0px;
	margin-left: 200px;
}

.classic {
	position: absolute;
	margin-top:0px;
	margin-left: 450px;

}

.improve {
	position: absolute;
	margin-left: 600px;
}

.another {
	position: absolute;
	margin-left: 800px;
}

.footer h4 {
	margin-top:90px;
	margin-left: 30px;
	position: absolute;
	font-family: serif;
}

.footer a {
	color:grey;
}

/*=========the end=======*/