* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #C1C1C1;
	overflow-x: hidden;
}

.eng {
	height: 400px;
	width: 100%;
	background: url(../images/bg_en.jpg);
	padding: 0px auto;
}

.eng h1 {
	margin-left: 250px;
	padding-top: 50px;
	font-family: Courier New, monospace;
	font-size: 70px;
	height: 30px;
}

.eng h2 {
	margin-left: 180px;
	padding-top: 50px;
	font-family: Courier New, monospace;
	font-size: 50px;
}

.eng cite {
	margin-left: 200px;
	padding-top: 100px;
	font-family: Times, Times New Roman, serif;
	font-size: 30px;
}

.eng cite #cite {
	margin-left: 1050px;
	padding-top: 100px;
	font-family: Times, Times New Roman, serif;
	font-size: 30px;
}

button {
	height: 200px;
	width: 350px;
	margin-left: 50px;
	margin-top: 100px;
	box-shadow: 2px 3px 5px 4px black;
	cursor: pointer;
}

#abc {
	background:url(../images/index/abc.jfif);
	background-size: 350px 200px; 
}

#sovet1{
	background:url(../images/index/sovet.png);
	background-size: 350px 200px; 
}

#verb{
	background:url(../images/index/irregular-verbs.jpg);
	background-size: 350px 200px; 
}

#p28 {
	background:url(../images/index/29.jfif);
	background-size: 350px 200px; 
}

#book1{
background:url(../images/index/book.jfif);
background-size: 350px 200px; 
}

#slovar1 {
	background:url(../images/index/slovar.jpeg);
	background-size: 350px 200px; 
	

}

#video1{
	background:url(../images/index/video.png);
	background-size: 350px 200px; 
}

#podkast{
	background:url(../images/index/podkast.jpg);
	background-size: 350px 200px; 
}

#program{
	background:url(../images/index/prog.png);
	background-size: 350px 200px; 
}

button p {
	font-family: Courier New, monospace;
	font-size: 25px;
	font-weight: bold;
}

.fix h2 {
	font-family: Courier New, monospace;
	
}

span {
	color: #EFEFEF;
}

nav {
	background: orange;
	height: 40px;
}

nav .nov1 {
	float: left;
	width: 50px;
	height: 33px;
	cursor: pointer;
}

nav .nov1 h5 {
	position: absolute;
	font-family: Times, Times New Roman, serif;
	font-size: 18px;
	height: 33px;
	color:black;
	width:150px;
	text-align: center;
	padding-top: 7px;
}

nav .nov1 h5:hover {
	background: #BE7C00;
}

#book, #pod, #video, #sovet, #slovar {
	float: left;
	height: 40px;
	font-family: Times, Times New Roman, serif;
	font-size: 20px;
	height: 30px;
	width:150px;
	text-align: center;
	padding-top: 10px;
	text-decoration: none;
	color:black;
}

#slovar:hover,#book:hover,#pod:hover,#video:hover,#sovet:hover {
	background: #BE7C00;
}
#slovar {
	margin-left: 100px;
}
/*=========конец меню=======*/

/*=========footer=======*/
.footer {
	width: 1350px;
	height: 120px;
	background: #F3F3F3;
	font-family: Courier New, monospace;
	border-top: 1px solid grey;
	list-style-type:none;
	padding-top: 10px;
	margin-top: 100px;
}

ul {
	list-style-type:none;
	text-align: justify;
	position: relative;
	font-size: 17px;
	line-height: 20px;
	font-family: serif;
}

.FAQ {
	position: absolute;
	margin-top:0px;
	margin-left: 20px;
}

.or {
	position: absolute;
	margin-top:0px;
	margin-left: 200px;
}

.classic {
	position: absolute;
	margin-top:0px;
	margin-left: 450px;

}

.improve {
	position: absolute;
	margin-left: 600px;
}

.another {
	position: absolute;
	margin-left: 800px;
}

.footer h4 {
	margin-top:90px;
	margin-left: 20px;
	position: absolute;
	font-family: serif;
}

.footer a {
	color:grey;
}

/*=========the end=======*/
